In [1]:
import numpy as np

In [ ]:
# Step 1: Develop the hypothesis.
#The hypothesis is simply the implementation of the sigmoid function.

In [24]:
def hypothesis(X, theta, learning_rate):
    z = np.dot(theta, X.T)
    return (1 / (1 + np.exp(-(z))) - learning_rate)

In [ ]:
#Step 2: Determine the cost function.

In [31]:
def cost(X, y, theta):
    y1 = hypothesis(X, theta, 1e-07)
    return(
        -(1 / len(X)) * np.sum(y * np.log(y1) + (1 - y) * np.log(1 - y1)))

In [ ]:
# Step 3: Update the theta values.
# Theta values need to keep updating until the cost function reaches its minimum. We should get our final theta values and the cost of each iteration as output.

In [32]:
def gradient_descent(X, y, theta, alpha, epochs):
    m = len(X)
    J = [cost(X, y, theta)] 
    for i in range(0, epochs):
        h = hypothesis(X, theta, 1e-07)
        for i in range(0, len(X.columns)):
            theta[i] -= (alpha/m) * np.sum((h - y) * X.iloc[:, i])
        J.append(cost(X, y, theta))
    return J, theta

In [ ]:
#Step 4: Calculate the final prediction and accuracy
#Use the theta values that come out of the ‘gradient_descent’ function and calculate the final prediction using the sigmoid function. Then, calculate the accuracy.

In [33]:
def predict(X, y, theta, alpha, epochs):
    J, th = gradient_descent(X, y, theta, alpha, epochs) 
    h = hypothesis(X, theta, 1e-07)
    for i in range(len(h)):
        h[i] = 1 if h[i] >= 0.5 else 0
    y = list(y)
    acc = np.sum([y[i] == h[i] for i in range(len(y))]) / len(y)
    return J, acc

In [14]:
import pandas as pd
import numpy as np
df = pd.read_csv("/Users/justynrodrigues/Documents/python/data/Heart1.csv")
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [15]:
df["ChestPainx"] = df.ChestPain.replace({"typical": 1, "asymptomatic": 2, "nonanginal": 3, "nontypical": 4})
df["Thalx"] = df.Thal.replace({"fixed": 1, "normal": 2, "reversable": 3})
df["AHD"] = df.AHD.replace({"Yes": 1, "No": 0})

df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD,ChestPainx,Thalx
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,0,1,1.0
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,1,2,2.0
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,1,2,3.0
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,0,3,2.0
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,0,4,2.0

In [17]:
df = pd.concat([pd.Series(1, index = df.index, name = '00'), df], axis = 1)
df.head()

,00,00,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD,ChestPainx,Thalx
0,1,1,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,0,1,1.0
1,1,1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,1,2,2.0
2,1,1,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,1,2,3.0
3,1,1,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,0,3,2.0
4,1,1,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,0,4,2.0

In [18]:
X = df.drop(columns=["Unnamed: 0", "ChestPain", "Thal"])
y = df["AHD"]

In [22]:
print("X shape: {} \ny shape: {}".format(X.shape, y.shape))

X shape: (303, 16)
y shape: (303,)

In [34]:
theta = [0.5]*len(X.columns)
J, acc = predict(X, y, theta, 0.0001, 25000)

/var/folders/3z/gy9dgz294xvgty7v8hhlbv0h0000gn/T/ipykernel_18692/1377213262.py:4: RuntimeWarning: invalid value encountered in log
  -(1 / len(X)) * np.sum(y * np.log(y1) + (1 - y) * np.log(1 - y1)))

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.figure(figsize = (12, 8))
plt.scatter(range(0, len(J)), J)
plt.show()

1e-07